{% load staticfiles %}
<html>
	<head>
		<title>Vocação - uma ONG para o Brasil do século XXI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-71166755-1', 'auto');
		  ga('send', 'pageview');

	</script>
	</head>
	<body>
		<!-- Offer Conversion:  Vocação Doação (ONG) -->
		<img src="http://tracking.rtkrsecure.com/aff_l?offer_id=728&adv_sub={{lead.id}}" width="1" height="1" />
		<!-- // End Offer Conversion -->
		
		<!-- ************ -->
		<!-- Plan Details -->
		<!-- ************ -->
		<div class="container">
			<div class="row text-center" style="margin: 50px 0;">
				<img src="{% static 'img/vocacao/logo-vocacao2.png' %}" alt="Vocação Logo" class="">
			</div>
			<hgroup class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Muito obrigado!</h1>
					<h2 class="text-center">Sua solicitação será respondida o mais rápido possível por um de nossos consultores.</h2>
					<hr class="dotted-spaced">
				</div>
			</hgroup>
		</div>

		<footer class="container text-center">
			Powered by <strong>MPG</strong> - Media Planning Group - <a target="_blank" href="http://www.mediaplanning.com.br">www.mediaplanning.com.br</a>
		</footer>

	<!-- ******* -->
	<!-- SCRIPTS -->
	<!-- ******* -->

	<!-- jQuery and Bootstrap-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>