<form>
			<div class="row">

				<div class="col s6">
					<div class="row">
						<div class="col s12 input-field">
							<i class="material-icons prefix">account_circle</i>
							<label>Nome</label>
							<input type="text">
						</div>
						<div class="col s12 input-field">
							<i class="material-icons prefix">phone</i>
							<label>Telefone</label>
							<input type="text">
						</div>
						<div class="col s12 input-field">
							<i class="material-icons prefix">mail</i>
							<label>Email</label>
							<input type="text">
						</div>
					</div>
				</div>
				<div class="col s6">
					<div class="row">
						<div class="input-field col s12">
		          <textarea class="materialize-textarea"></textarea>
		          <label>Mensagem</label>
		        </div>
	        </div>
				</div>

			</div>
		</form>