{% load staticfiles %}
<html>
	<head>
		<title>Conquiste sua independência financeira - Microfranquias Hinode</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/hinode/custom.css' %}">
		<link rel="stylesheet" href="{% static 'fonts/titilium/stylesheet.css' %}">
	</head>
	<body>

		<!-- Offer Conversion: Hinode - CPL -->
		<iframe src="http://tracking.weachgroup.com/aff_l?offer_id=720&adv_sub={{lead.id}}" scrolling="no" frameborder="0" width="1" height="1"></iframe>
		<!-- // End Offer Conversion -->
		
		<!-- ************ -->
		<!-- Plan Details -->
		<!-- ************ -->
		<div class="container plan-details">
			<div class="row text-center logo-wrapper">
				<img src="{% static 'img/hinode/hinode-logo.png' %}" alt="Hinode Logo" class="responsive logo">
			</div>
			<hgroup class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Muito obrigado!</h1>
					<h2 class="text-center">Sua solicitação será respondida o mais rápido possível por um de nossos consultores.</h2>
					<hr class="dotted-spaced">
				</div>
			</hgroup>
		</div>

		<footer class="container text-center">
			Powered by <strong>MPG</strong> - Media Planning Group - <a target="_blank" href="http://www.mediaplanning.com.br">www.mediaplanning.com.br</a>
		</footer>

	<!-- ******* -->
	<!-- SCRIPTS -->
	<!-- ******* -->

	<!-- jQuery and Bootstrap-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- JavaScript Plugins -->
    <script src="{% static 'js/jquery.gritter.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.min.js' %}"></script>

	<!-- Custom Javascript -->
	<script src="{% static 'js/estadao/main.js' %}"></script>	
	</body>
</html>