{% load staticfiles %}
<html>
	<head>
		<title>Conquiste sua independência financeira - Microfranquias Hinode</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/hinode/custom.css' %}">
		<link rel="stylesheet" href="{% static 'fonts/titilium/stylesheet.css' %}">
	</head>
	<body>

		{% include 'partials/_gtm.html' %}

		<!-- ******************************************* -->
		<!-- Google Code for Lead Hinode Conversion Page -->
		<!-- ******************************************* -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 939114366;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "ZenACMrDwmQQ_v7mvwM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/939114366/?label=ZenACMrDwmQQ_v7mvwM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>

		
		<!-- ******* -->
		<!-- Content -->
		<!-- ******* -->
		<div class="container plan-details">
			<div class="row text-center logo-wrapper">
				<img src="{% static 'img/hinode/hinode-logo.png' %}" alt="Hinode Logo" class="responsive logo">
			</div>
			<hgroup class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Muito obrigado!</h1>
					<h2 class="text-center">Sua solicitação será respondida o mais rápido possível por um de nossos consultores.</h2>
					<hr class="dotted-spaced">
				</div>
			</hgroup>
		</div>

		<footer class="container text-center">
			Powered by <strong>MPG</strong> - Media Planning Group - <a target="_blank" href="http://www.mediaplanning.com.br">www.mediaplanning.com.br</a>
		</footer>

	<!-- ******* -->
	<!-- SCRIPTS -->
	<!-- ******* -->

	<!-- jQuery and Bootstrap-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- JavaScript Plugins -->
    <script src="{% static 'js/jquery.gritter.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'js/lib/js.cookie.js' %}"></script>

	<!-- Custom Javascript -->
	<script src="{% static 'js/estadao/main.js' %}"></script>
	
	<!-- ************* -->
	<!-- CityAds Pixel -->
	<!-- ************* -->
	{% include 'hinode/partials/_cityads.html' %}

	</body>
</html>