{% extends "mpg/main.html" %}
{% load staticfiles %}

{% block content %}

<nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h1 class="brand">
					<span class="initials">MPG</span><br>
					<span class="full">Media Planning Group</span>
				</h1>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</nav>

<main class="container">
	<div class="banner">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="agency">
					<div class="header">
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
								<i class="banner-icon fa fa-bullhorn"></i>		
							</div>
							<div class="col-md-8">
								<h2>Agências e Anunciantes</h2>		
							</div>
						</div>
					</div>
					<p>
						Ganhe mais visibilidade online para você ou para seu cliente.
					</p>
					<button class="btn btn-lg">Saiba mais</button>
				</div>
			</div>
			<div class="col-md-5">
				<div class="publisher">
					<div class="header">
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
									<i class="banner-icon fa fa-newspaper-o"></i>		
								</div>
								<div class="col-md-8">
									<h2>Editoras e Publishers</h2>		
								</div>
						</div>
					</div>
					<p>
						Torne suas páginas, portais e aplicativos mais rentáveis.
					</p>
					<button class="btn btn-lg">Saiba mais</button>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
{% endblock %}        