/* ********* */
/* Variables */
/* ********* */
/* ****** */
/* Mixins */
/* ****** */
/* *********** */
/* Main Styles */
/* *********** */
/* line 59, ../../compass/sass/mpg/default.sass */
body {
  font-family: "Roboto" !important;
}

/* ****** */
/* Layout */
/* ****** */
/* line 66, ../../compass/sass/mpg/default.sass */
nav {
  z-index: 1000;
  background: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  top: 0;
  left: 0;
}
/* line 76, ../../compass/sass/mpg/default.sass */
nav .brand {
  font-size: 24px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
/* line 84, ../../compass/sass/mpg/default.sass */
nav .brand .full {
  font-size: 12px;
}

/* line 88, ../../compass/sass/mpg/default.sass */
main {
  margin-top: 70px;
}

/* **** */
/* Home */
/* **** */
/* line 95, ../../compass/sass/mpg/default.sass */
.banner {
  text-align: center;
  padding-top: 50px;
}
/* line 98, ../../compass/sass/mpg/default.sass */
.banner i.banner-icon {
  font-size: 50px;
  margin-top: 20px;
}
/* line 104, ../../compass/sass/mpg/default.sass */
.banner p {
  font-size: 25px;
  margin: 100px 0 50px 0;
}
/* line 109, ../../compass/sass/mpg/default.sass */
.banner .agency {
  color: #34b1c4;
  background-color: rgba(79, 93, 115, 0.1);
  border-bottom: 3px solid rgba(79, 93, 115, 0.2);
  border-radius: 3px;
  padding: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 38, ../../compass/sass/mpg/default.sass */
.banner .agency .header {
  color: #fff;
  margin: -50px;
  background: #34b1c4;
  padding: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
}
/* line 47, ../../compass/sass/mpg/default.sass */
.banner .agency .header h2 {
  font-weight: bold;
  font-size: 24px;
}
/* line 117, ../../compass/sass/mpg/default.sass */
.banner .agency p {
  color: #666;
}
/* line 120, ../../compass/sass/mpg/default.sass */
.banner .agency .btn {
  color: #fff;
  font-weight: bold;
  border: 2px solid #34b1c4;
  background: #34b1c4;
  padding: 15px 20px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
}
/* line 124, ../../compass/sass/mpg/default.sass */
.banner .agency .btn:hover {
  background: transparent;
  color: #34b1c4;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 127, ../../compass/sass/mpg/default.sass */
.banner .agency:hover {
  margin-top: -5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 130, ../../compass/sass/mpg/default.sass */
.banner .publisher {
  color: #dd624e;
  background-color: rgba(199, 92, 92, 0.1);
  border-bottom: 3px solid rgba(199, 92, 92, 0.2);
  border-radius: 3px;
  padding: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 38, ../../compass/sass/mpg/default.sass */
.banner .publisher .header {
  color: #fff;
  margin: -50px;
  background: #dd624e;
  padding: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
}
/* line 47, ../../compass/sass/mpg/default.sass */
.banner .publisher .header h2 {
  font-weight: bold;
  font-size: 24px;
}
/* line 138, ../../compass/sass/mpg/default.sass */
.banner .publisher p {
  color: #666;
}
/* line 141, ../../compass/sass/mpg/default.sass */
.banner .publisher .btn {
  color: #fff;
  font-weight: bold;
  border: 2px solid #dd624e;
  background: #dd624e;
  padding: 15px 20px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
}
/* line 145, ../../compass/sass/mpg/default.sass */
.banner .publisher .btn:hover {
  background: transparent;
  color: #dd624e;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 148, ../../compass/sass/mpg/default.sass */
.banner .publisher:hover {
  margin-top: -5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
