{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/lib/js.cookie.js' %}"></script>

<script type="text/javascript">
	if(Cookies.get('utm_source') == 'cityads') {
		$("body").prepend("\<script type=\"text/javascript\" async=\"async\" src=\"https://cityadspix.com/track/{{lead.id}}/ct/q1/c/26023?click_id="+Cookies.get('click_id')+"&customer_type=N&md=2\">\</script\>\<noscript\>\<img src=\"https://cityadspix.com/track/{{lead.id}}/ct/q1/c/26023?click_id="+Cookies.get('click_id')+"&customer_type=N\" width=\"1\" height=\"1\"\>\</noscript\>");
	}
</script>