<script type="text/javascript" src="{% static 'js/lib/js.cookie.js' %}"></script>

<script type="text/javascript">
	if(Cookies.get('utm_source') == 'cityads') {
		console.log('utm_source = ' + Cookies.get('utm_source'));
	}
</script>

<!-- <script type="text/javascript" async="async" src='https://cityadspix.com/track/{{CityAds_OrderId}}/ct/q1/c/26023?click_id={{CityAds_ClickId}}&customer_type={{CityAds_CustomerType}&md=2'></script>
<noscript ><img src='https://cityadspix.com/track/{{CityAds_OrderId}}/ct/q1/c/26023?click_id={{CityAds_ClickId}}&customer_type={{CityAds_CustomerType}}' width="1" height="1"></noscript> -->